#!/bin/bash

alias sour='source ~/.zshrc'
alias dots='cd ~/.dotfiles'
alias afile='nvim ~/.dotfiles/.aliases'
alias install='sudo pacman -S'
alias zconf='nvim ~/.zshrc'
alias hdots='cd ~/.config/hypr && ls'
alias aconf='nvim ~/.config/alacritty/alacritty.toml'
