* {
    border: none;
    border-radius: 8px;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 16px;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
    margin-top: 6px;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    border-radius: 10px;
    background: #1e1e2e;
    transition: none;
    padding: 0 4px;
}

#workspaces button {
    transition: none;
    color: #cdd6f4;
    background: transparent;
    border-radius: 2px;
    padding: 0 8px;
    margin: 4px 2px;
}

/* Full background block with Catppuccin mocha teal color */
#workspaces button.active {
    color: #cdd6f4;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 3px solid #b4befe;
    margin-bottom: 1px;
    /* to compensate for the border */
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #fab387;
    border-color: #f5c2e7;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #f38ba8;
}

#wireplumber {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #fab387;
}

#battery {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #a6e3a1;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #cdd6f4;
    }
}

#backlight {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #f9e2af;
}

#clock {
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #a6e3a1;
}

#memory {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #f9e2af;
}

#cpu {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #94e2d5;
}

#custom-launcher {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #f5c2e7;
    background: #1e1e2e;
}

#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #f5c2e7;
}

#bluetooth {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #1e1e2e;
    background: #89b4fa;
}
